.mx-4.mt-4.px-4.text-xl.font-bold コメント

#comments
  = render partial: 'comments/comment', collection: comments
.mx-4.mt-4.px-4.text-xl.font-bold コメント追加
= render 'comments/new_comment', comment_form: comment_form
