.text-lg.font-bold トーク新規作成

== render 'form', group: @group, talk: @talk

br

div
  = link_to 'キャンセル', group_talks_path(@group), class: 'text-blue-600 hover:text-blue-800 active:text-blue-900 underline transition'
