= form_with(model: user) do |form|
  .mx-4
    = form.text_field :nickname, placeholder: 'ニックネームを入力', class: 'p-2 border mr-2 border-gray-300 border-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'

    = form.submit '更新', class: 'btn btn-blue'
