h1.flex.justify-center.text-2xl.font-bold.my-8.mx-4 ニックネームを変更

== render "form", user: @user

br

div
  = link_to 'プロフィールへ戻る', @user, class: 'text-blue-600 hover:text-blue-800 active:text-blue-900 underline transition'
