@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-title {
    @apply flex justify-center text-2xl font-bold;
  }

  .btn {
    @apply font-bold py-2 px-4 rounded;
  }

  .btn-blue {
    @apply bg-blue-500 text-white;
  }

  .btn-blue:hover {
    @apply bg-blue-700;
  }
  .btn-white {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
  }
}
