@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-title {
    @apply flex justify-center items-center text-lg font-bold bg-teal-100 h-12;
  }

  .btn {
    @apply font-bold py-1 px-4 rounded;
  }

  .btn-blue {
    @apply bg-blue-500 text-white text-sm;
  }

  .btn-blue:hover {
    @apply bg-blue-700;
  }
  .btn-white {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-4 text-sm border border-blue-500 hover:border-transparent rounded;
  }
}
